{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block title %}SOTRETE - Nos Services{% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">Nos Services</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Accueil</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Services</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Nos Services</h4>
                <h1 class="display-5 mb-4">Nous proposons une large gamme de services</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="{% static 'img/service-1.jpg' %}" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="{% static 'img/icons/icon-5.png' %}" alt="Icon">
                            <h3 class="mb-3">Études et Avant-Projets</h3>
                            <p class="mb-4">Élaboration des Avant-Projets Sommaires (APS) et des Avant-Projets Détaillés (APD)</p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="{% static 'img/service-2.jpg' %}" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="{% static 'img/icons/icon-6.png' %}" alt="Icon">
                            <h3 class="mb-3">Dossiers d'Appel d'Offres</h3>
                            <p class="mb-4">Préparation et élaboration des Dossiers d'Appel d'Offres (DAO)</p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="{% static 'img/service-3.jpg' %}" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="{% static 'img/icons/icon-7.png' %}" alt="Icon">
                            <h3 class="mb-3">Construction d'Infrastructures</h3>
                            <p class="mb-4">Réalisation et suivi de projets de construction d'infrastructures</p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="{% static 'img/service-4.jpg' %}" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="{% static 'img/icons/icon-8.png' %}" alt="Icon">
                            <h3 class="mb-3">Surveillance Technique</h3>
                            <p class="mb-4">Surveillance technique des travaux publics et contrôle qualité</p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="{% static 'img/service-5.jpg' %}" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="{% static 'img/icons/icon-9.png' %}" alt="Icon">
                            <h3 class="mb-3">Gestion de Projets</h3>
                            <p class="mb-4">Gestion et coordination complète de vos projets de construction</p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="{% static 'img/service-6.jpg' %}" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="{% static 'img/icons/icon-10.png' %}" alt="Icon">
                            <h3 class="mb-3">Conseil et Expertise</h3>
                            <p class="mb-4">Conseil technique et expertise dans le domaine de la construction</p>
                            <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Témoignages</h4>
                <h1 class="display-5 mb-4">Ce que nos clients disent de nous</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="{% static 'img/testimonial-1.jpg' %}">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>Une équipe professionnelle et à l'écoute. Excellent travail sur notre projet.</p>
                        <h5 class="mb-1">Client Satisfait</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <div class="testimonial-img position-relative">
                        <img class="img-fluid rounded-circle mx-auto mb-5" src="{% static 'img/testimonial-2.jpg' %}">
                        <div class="btn-square bg-primary rounded-circle">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                    </div>
                    <div class="testimonial-text text-center rounded p-4">
                        <p>Très satisfait de la qualité des services et du professionnalisme de l'équipe.</p>
                        <h5 class="mb-1">Client Satisfait</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{% endblock %} 